/* RESET AND DEFAULT ELEMENT STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  background-color: initial;
  color: inherit;
  text-decoration: none;
}

/* BASE STYLES */

.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* STYLES */

.side-area {
  flex: 1 1 auto;
}

.center {
  display: flex;
  flex-direction: column;
  flex: 0 1 980px;
  min-width: 200px;
}

.nav {
  display: flex;
  justify-content: left;
}

.divider {
  border-bottom: #21262d 1px solid;
  margin: 0 40px 0 40px;
}

.main, .nav {
  padding: 10px 40px 10px 40px;
}

@media (max-width: 767px) {
	.main, .nav {
		padding: 10px;
	}
  
  .divider {
		margin: 0 10px 0 10px;
  }
}

.link {
  margin-right: 20px;
}
